.add-book-card {
  background-color: floralwhite;
  max-width: 400px;
  margin: 20px;
}

.add-book-label {
  font-weight: bold;
  margin-left: 10px;
}

.add-book-input {
  max-width: 350px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}
