<mat-card class="add-book-form">
  <form [formGroup]="bookAddForm">
    <div class="row">
      <mat-label class="add-book-form_label">Title</mat-label>
      <input matInput
             class="add-book-form_input"
             formControlName="title"
             placeholder="Enter title">
    </div>
    <div class="row">
      <mat-label class="add-book-form_label">Description</mat-label>
      <input matInput
             class="add-book-form_input"
             formControlName="description"
             placeholder="Enter description">
    </div>
    <div class="row">
      <button mat-button (click)="addBook()">Add Book</button>
    </div>
  </form>
</mat-card>
