<mat-card class="add-book-form">
  <div class="row">
    <mat-label class="add-book-form_label">Title</mat-label>
    <input matInput
           class="add-book-form_input"
           [(ngModel)]="bookToAdd.title"
           placeholder="Enter title">
  </div>
  <div class="row">
    <mat-label class="add-book-form_label">Description</mat-label>
    <input matInput
           class="add-book-form_input"
           [(ngModel)]="bookToAdd.description"
           placeholder="Enter description">
  </div>

  <div class="row">
    <button mat-button (click)="addBook()">Add Book</button>
  </div>
</mat-card>
