.library-book-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: floralwhite;
  max-width: 800px;
  margin: 20px auto;
}

.library-book-card_image {
  height: 150px;
  margin: 10px;
}
