.book-card {
  display: flex;
  background-color: floralwhite;
  max-width: 400px;
  margin: 20px;
}

.book-card-header {
  flex-grow: 1;
}

.book-card-header_title {
  text-align: center;
  font-weight: bold;
}

.book-card-header_description {
  text-align: center;
}

.book-card_fav-icon {
  margin-top: 5px;
  color: darkred;
}
