.book-card {
  background-color: floralwhite;
  max-width: 400px;
  margin: 20px;
}

.book-card_title {
  text-align: center;
  font-weight: bold;
}

.book-card_description {
  text-align: center;
}

.book-card_fav-icon {
  margin-top: 5px;
  color: darkred;
}
