.book-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: floralwhite;
  max-width: 800px;
  margin: 20px;
}

.book-card_image {
  height: 150px;
  margin: 10px;
}

.book-card_fav-icon {
  margin-top: 5px;
  margin-right: 15px;
  color: darkred;
}
