<h2>Add Book</h2>
<form [formGroup]="bookAddForm">
  <mat-form-field appearance="fill"
                  class="add-book-form_field">
    <mat-label>Image URL</mat-label>
    <input matInput
           formControlName="imgUrl"
           placeholder="Enter image URL"
           required>
  </mat-form-field>
  <mat-form-field appearance="fill"
                  class="add-book-form_field">
    <mat-label>Title</mat-label>
    <input matInput
           formControlName="title"
           placeholder="Enter title"
           required>
  </mat-form-field>
  <mat-form-field appearance="fill"
                  class="add-book-form_field">
    <mat-label>Author</mat-label>
    <input matInput
           formControlName="author"
           placeholder="Enter author"
           required>
  </mat-form-field>
  <mat-form-field appearance="fill"
                  class="add-book-form_field">
    <mat-label>Description</mat-label>
    <textarea matInput rows="5"
              formControlName="description"
              placeholder="Enter description"
              required>
    </textarea>
    <mat-error *ngIf="bookDescriptionIsTooLong()">
      Description is too long
    </mat-error>
  </mat-form-field>
  <div>
    <button n-submit mat-raised-button
            class="add-book-form_button"
            [disabled]="!bookAddForm.valid"
            (click)="addBook()">Add Book</button>
    <button mat-raised-button
            class="add-book-form_button"
            (click)="clearForm()">Clear</button>
  </div>
</form>
